body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  button {
    background-color: #ff5733;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ff3300;
  }
  
  #productList {
    max-width: 400px;
    margin: 0 auto;
  }
  
  #productList li:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  #productGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .productCard {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
  }
  
  .productCard h2 {
    font-size: 18px;
    margin: 0;
  }
  
  .productCard button {
    background-color: #ff5733;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .productCard button:hover {
    background-color: #ff3300;
  }
  

  